@font-face {
	src: url('graphics/space_age.ttf');
}

.root {
	-fx-font-family: 'space age';
}
.text {
	-fx-font-family: 'space age';
}
.text02 {
        
	-fx-font-family: 'space age';
        font-size: 20px;

}
